@media screen and (min-width: 480px) {
    .container {
        max-width: 428px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
        .menu-open {
            display: none;
        }
        .mob-menu {
            display: none;
        }
                .nav-header {
                    align-items: center;
                    display: flex;
                }
        
                .nav {
                    display: flex;
                    align-items: center;
                    gap: 120px;
                }

                .nav-list {
                    display: flex;
                
                }
        
                .nav-list .item+.item {
                    margin-left: 40px;
                }
        
                .nav-link {
                    display: block;
                    padding-top: 24px;
                    padding-bottom: 24px;
        
                    text-decoration: none;
                    color: var(--primary-text-color);
                    font-weight: 500;
                    line-height: 1.5;
                    letter-spacing: 0.02em;
        
                    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                }
        
                .nav-link:hover,
                .nav-link:focus {
        
                    color: var(--hover-active-color);
                }
        
                .nav-link.current {
                    position: relative;
                    color: var(--hover-active-color);
                }
        
                .nav-link.current::after {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    content: "";
                    display: inline-block;
                    width: 100%;
                    height: 4px;
                    border-radius: 4px;
                    background-color: var(--hover-active-color);
                }
        
                .address {
                    display: block;
                    margin-left: 120px;
                }
        
                .address-list {
                    display: flex;
                    flex-wrap: wrap;
                }
        
                /* .address-list .item+.item {
                    margin-left: 40px;
                } */
        
                .mail-tell {
                    font-style: normal;
                    color: var(--secondbery-text-color);
                    line-height: 1.5;
                    font-size: 12px;
                    letter-spacing: 0.02em;
                    text-decoration: none;
        
                    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                }
        
                .mail-tell:hover,
                .mail-tell:focus {
                    color: var(--hover-active-color);
                }
        
                .content>.item {
                    margin-bottom: 0;
                    width: 264px;
                }
.hero {
    background-image: linear-gradient(to right,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/tablet-bg.jpg);
}
        .hero-title{
      font-size: 56px;
      line-height: 1.07;
        }
        .content {
         display: flex;
         flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
        }
        .content>.item {
            margin-bottom: 0;
            width: 356px;
                }
        .advantages-title {
            text-align: start;
        }
        .section.our-team {
            padding-bottom: 108px;
        }
        .content-team {
            margin-left: auto;
            margin-right: auto;
            max-width: 552px;
            display: flex;
            flex-wrap: wrap;
            row-gap: 72px;
            column-gap: 24px;
        }
        .content-team>.item {
            margin-bottom: 0;
            margin-left: 0;
            margin-right: 0;
            width: calc((100%-24px) / 2);
        }
        .container-customers {
            max-width: 552px;
        }
        .list-customers {
        column-gap: 24px;
        }
        .list-customers>.item {
            width: calc((100% - 48px) / 3);
        }
        .container-footer {
            max-width: 552px;
            display: flex;
            flex-wrap: wrap;
        }
        .container-logo-text {
            width: 264px;
            margin-right: 24px;
            margin-bottom: 0;
        }
        .footer-link {
            text-align: start;
        }
        .container-social {
            margin-bottom: 0;
            width: 208px;
        }
        .social {
            text-align: start;
        }
        .container-form {
            width: 453px;
        }
        .subscribe {
            text-align: start;
        }
        .footer-input {
            width: 264px;
        }
        .form-footer {
            display: flex;
            gap: 24px;
        }
         .model {
            width: 408px;
         }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(to right,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/tablet-bg@2x.jpg);
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .logo {
        line-height: 1.33;
    }
    .nav {
        gap: 76px;
    }
    .address {
        margin-left: auto;
    }
    .address-list {
        gap: 40px;
    }
    .mail-tell {
        font-size: 16px;
    }
        .section {
            padding-top: 120px;
            padding-bottom: 120px;
        }
        .hero {
        padding-top: 188px;
        padding-bottom: 188px;
        
                background-image: linear-gradient(to right,
                        rgba(46, 47, 66, 0.7),
                        rgba(46, 47, 66, 0.7)),
                    url(../images/people-office.jpg);
    }
        .hero-title {
            margin-bottom: 48px;
        }
        .content {
            flex-wrap: nowrap;
        }
        .content>.item {
            width: 264px;
        }
        
        .advantages-span {
            display: block;
            padding: 24px 100px;
            height: 112px;
            margin-bottom: 8px;
            background-color: var(--hover-card-color);
                }    
        .advantages-icon {
            width: 64px;
            height: 64px;
        }
        .work {
            display: block;
            padding-top: 0;
        }
                .content-work {
                    display: flex;
                }
        
                .content-work>.item {
                    margin-right: 24px;
                }
        
                .content-work>.item:last-child {
                    margin-right: 0;
                }
        
                
            .content-team {
                margin-left: 0;
                margin-right: 0;
                flex-wrap: nowrap;
            }
        .list-customers {
            flex-wrap: nowrap;     
        }
        .list-customers>.item {
        width: calc((100% - 120px) / 6);
        }
        .container-footer {
            flex-wrap: nowrap;
            max-width: 1158px;
        }
        .container-logo-text {
            margin-right: 120px;
        }
        .container-social {
            margin-right: 80px;
        }
         .footer-input {
            margin-bottom: 0;
         }
         .model {
            height: 584;
         }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (min-resolution: 192dpi) and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .hero {
        background-image: linear-gradient(to right,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/desktop-bg@2x.jpg);
    }
}