@media screen and (min-width: 480px) {
    .container {
        max-width: 428px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
        .hero-title{
      font-size: 56px;
      line-height: 1.07;
        }
       
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}